all_results_for_ONTOMOPKG.csv
all_results_for_twa.csv
Centroid.png
inner_diameter_results.csv
mop_properties_full.xlsx
mop_test_output.csv
rigorousall_results.csv
Screenshot 2025-07-21 220913.png
cambridgecode.py
Screenshot 2025-07-21 221328.png
organic_cbu_geo_files/
metal_cbu_geo_files/
expt_structures_from_OntoMOPs_KG/
twa_mop_cavity_data/
FinalData/
structures/
1586600-final.png
flipping_pairs.txt
assembled_mops_xyz/
zr_tet_mops_xtb_results/

.gitignore
Screenshot 2025-07-22 143351.png
